.min {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  outline: none;
  padding-top: 5px;
  padding-left: 25px;
}

.max {
  width: 100%;
  height: 100vh;
  outline: none;
  padding-top: 5px;
  padding-left: 25px;
}

#preview {
  background-color: #C3DFDA;
}